.ContactBox {
  padding: 5px;
  margin: 0 auto;
}

.Align {
  text-align: center;
}

.ContactList {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.ContactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid lightslategray;
  border-radius: 3px;
}

.ContactListItem:nth-child(odd) {
  background-color: #ecf1f4;
}

.ContactListName {
  margin: 0 20px 0 0;
}

.contBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0px;
  background-color: lightslategray;
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  /* box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 0.5); */
}

.contBtn:hover,
.contBtn:focus {
  outline: none;
  background-color: red;
  box-shadow: 1px 2px 2px 1px rgb(255 0 0 / 0.5);
}
