.ContactBox {
  padding: 5px;
  margin: 0 auto;
}

.Align {
  text-align: center;
}

.ContactList {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.ContactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid lightslategray;
  border-radius: 3px;
}

.ContactListItem:nth-child(odd) {
  background-color: #ecf1f4;
}

.ContactListBox {
  display: flex;
  width: 100%;
}

.ContactListName {
  margin-right: auto;
}

.ContactListNumber {
  text-decoration: none;
  /* font-size: larger; */
  font-weight: 500;
  color: #1a73e8;
}

.ContactListNumber:hover,
.ContactListNumber:focus {
  text-decoration: underline;
}

.ContactListBtn {
  margin-left: 10px;
}

.contBtn {
  width: 30px;
  height: 30px;
  padding: 0px;
  /* border-radius: 50%; */
}

.contBtn:hover,
.contBtn:focus {
  background-color: red;
  box-shadow: 1px 2px 2px 1px rgb(255 0 0 / 0.5);
}
